{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- computers section start -->
      <div class="computers_section layout_padding">
         <div class="container">
            <h1 class="computers_taital">Computers & Laptop</h1>
         </div>
      </div>
      <div class="computers_section_2">
         <div class="container-fluid">
            <div class="computer_main">
               <div class="row">
                  {% for sma in small %}
                  <div class="col-md-4">
                     <div class="computer_img"><img src="{{sma.image.url}}"></div>
                     <h4><a href="{{sma.get_absolute_url}}">{{sma.name}}</a> </h4>
                     <div class="computer_text_main">
                        <h4 class="dell_text">{{sma.status}}</h4>
                        <h6 class="price_text"><a href="#">$500</a></h6>
                        <h6 class="price_text_1"><a href="#">$1000</a></h6>
                     </div>
                     <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- computers section end -->
{% endblock content %}